<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fan">
        <activity
            android:name=".taylor"
            android:exported="false" />
        <activity
            android:name=".maroon"
            android:exported="false" />
        <activity
            android:name=".arctic"
            android:exported="false" />
        <activity
            android:name=".timeflies"
            android:exported="false" />
        <activity
            android:name=".coldplay"
            android:exported="false" />
        <activity
            android:name=".lilnas"
            android:exported="false" />
        <activity
            android:name=".mgk"
            android:exported="false" />
        <activity
            android:name=".eminem"
            android:exported="false" />
        <activity
            android:name=".yelawolf"
            android:exported="false" />
        <activity
            android:name=".shawn"
            android:exported="false" />
        <activity
            android:name=".lukas"
            android:exported="false" />
        <activity
            android:name=".weeknd"
            android:exported="false" />
        <activity
            android:name=".chainsmokers"
            android:exported="false" />
        <activity
            android:name=".txt"
            android:exported="false" />
        <activity
            android:name=".troy"
            android:exported="false" />
        <activity
            android:name=".conan"
            android:exported="false" />
        <activity
            android:name=".harry"
            android:exported="false" />
        <activity
            android:name=".bts"
            android:exported="false" />
        <activity
            android:name=".taylorswift"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="Second activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>